<div class="grid sm:grid-cols-4 grid-cols-2 gap-3">
  <div class="rounded-md space-y-2 bg-slate-950 overflow-hidden cursor-pointer" (click)="movieDetails(movies)">
    <img
      [src]="movies.trailer.youtube_thumbnail"
      alt=""
      class="h-44 block object-cover object-center"
    />
    <div class="py-3 px-2 text-white">
      <div class="flex justify-between items-center">
        <div class="md:text-lg text-sm">{{ movies.title }}</div>
        <button class="bg-white text-black rounded-sm font-medium text-[10px] px-1 py-1">
          4/5
        </button>
      </div>
      <div class="md:text-sm text-[10px] text-gray-100 pt-3">
        {{ movies.trailer.published | date : "yyyy" }}
      </div>
    </div>
  </div>
</div>
