<div class="bg-black md:px-16 md:py-10 py-5 px-5 text-white space-y-8 h-full flex flex-col">
  <a routerLink="/home"
    ><img
      src="https://cdn.pixabay.com/photo/2017/03/16/21/18/logo-2150297_640.png"
      alt=""
      class="h-16"
  /></a>
  <ul class="space-y-5 flex-1">
    <li *ngFor="let item of link; index as i; first as isFirst; last as isLast">
      <a
        (click)="navigation()"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ item.label }}</a
      >
    </li>
  </ul>
  <ul class="space-y-5 flex-1 flex items-end">
    <li *ngFor="let item of link2">
      <a
        (click)="navigation()"
        [routerLink]="item.link"
        routerLinkActive="active"
        >{{ item.label }}</a
      >
    </li>
  </ul>
</div>
