<!-- image slider -->
<app-image-slider></app-image-slider>

<!-- movie card -->
<div class="space-y-6 flex flex-col">
  <h1 class="text-2xl font-bold">Lates Movie</h1>
  <app-movie-card></app-movie-card>
</div>
<!-- trending movies card -->
<!-- <div class="space-y-6 flex flex-col mt-5">
  <h1 class="text-2xl font-bold">Trending Movie</h1>
  <app-movie-card></app-movie-card>
</div> -->
<!-- history movies card -->
<!-- <div class="space-y-6 flex flex-col mt-5">
  <h1 class="text-2xl font-bold">History</h1>
  <app-movie-card></app-movie-card>
</div> -->
