<div class="h-full space-y-6">
  <!-- heading / search bar -->
  <div class="flex justify-between items-center md:pb-6 pb-2 md:pt-0">
    <h1 class="md:text-3xl text-2xl font-bold tracking-wide">Browse</h1>
    <input
      type="text"
      class="focus:outline-none md:py-2 md:px-4 py-1 px-2 bg-transparent border-2 rounded-full"
      [(ngModel)]="searchTerm"
      (input)="search()"
    />
  </div>

  <!-- filter content -->
  <div class="flex gap-3 flex-wrap">
    <button
      class="border rounded-full md:py-2 md:px-6 py-1 px-4 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:ring-offset-1"
      (click)="filterMovie('all')"
    >
      All
    </button>
    <button
      class="border rounded-full md:py-2 md:px-6 py-1 px-4 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:ring-offset-1"
      (click)="filterMovie('movie')"
    >
      Movie
    </button>
    <button
      class="border rounded-full md:py-2 md:px-6 py-1 px-4 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:ring-offset-1"
      (click)="filterMovie('series')"
    >
      Series
    </button>
    <button
      class="border rounded-full md:py-2 md:px-6 py-1 px-4 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:ring-offset-1"
      (click)="filterMovie('anime')"
    >
      Anime
    </button>
  </div>

  <!-- Movie Content || Movie cards -->
  <div class="grid sm:grid-cols-4 grid-cols-2 gap-3">
    <div
      class="rounded-md space-y-2 bg-slate-950 overflow-hidden"
      *ngFor="let item of filteredMovies"
    >
      <img
        [src]="item.image"
        alt=""
        class="h-44 block object-cover object-center w-full"
      />
      <div class="py-3 px-2 text-white">
        <div class="flex justify-between items-center">
          <div class="md:text-lg text-sm">{{ item.title }}</div>
          <button
            class="bg-white text-black rounded-sm font-medium text-[10px] px-1 py-1"
          >
            {{ item.rating }}/10
          </button>
        </div>
        <div class="md:text-sm text-[12px] text-gray-100 pt-3">{{ item.year }}</div>
      </div>
    </div>
  </div>

  <div class="md:text-5xl text-2xl text-center py-36 font-bold" *ngIf="filteredMovies == 0">
    Movie not found
  </div>
</div>
