<div class="">
  <a class="text-lg inline" routerLink="/home">Home</a>
  <div class="max-w-xl leading-loose space-y-4">
    <div class="pt-28 pb-5">
      <h1 class="text-6xl font-bold">WHEN THE MONSTERS RETURN </h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
      beatae. Ea, pariatur? Nesciunt suscipit eum libero laudantium
      exercitationem reprehenderit unde odit provident, laboriosam omnis et
      at explicabo corrupti sed eligendi asperiores neque.
    </p>

    <div class="pt-6 space-y-2">
      
      <div class="text-xl">★★★★☆</div>
      <div class="text-xl">4/5 stars rating</div>
    </div>
    <div class="flex space-x-3">
      <button
        class="border border-red-700 rounded-sm bg-red-700 px-4 py-2 hover:bg-transparent focus:outline-none uppercase"
      >
        Play now
      </button>
      <button
        class="border border-gray-500 rounded-sm bg-gray-500 px-4 py-2 hover:bg-transparent focus:outline-none uppercase"
      >
        Trailer
      </button>
    </div>
    <div class="pt-20 pb-5">
      <ul class="flex space-x-6">
        <li><a href="" class="active">Season 1</a></li>
        <li><a href="">Season 2</a></li>
        <li><a href="">Season 2</a></li>
      </ul>
    </div>
  </div>
  <div class="flex space-x-6 overflow-auto">
    <!-- selected class will add border red -->
    <div class="flex flex-col space-y-3 border-red-500 border p-2">
      <img
        src="https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg"
        alt=""
        class="rounded-sm h-24"
      />
      <p><span>Episode 1: </span> Lorem, ipsum dolor.</p>
    </div>
    <div class="flex flex-col space-y-3 p-2">
      <img
        src="https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg"
        alt=""
        class="rounded-sm h-24"
      />
      <p><span>Episode 2: </span> Lorem, ipsum dolor.</p>
    </div>
    <div class="flex flex-col space-y-3 p-2">
      <img
        src="https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg"
        alt=""
        class="rounded-sm h-24"
      />
      <p><span>Episode 3: </span> Lorem, ipsum dolor.</p>
    </div>
    <div class="flex flex-col space-y-3 p-2">
      <img
        src="https://img.freepik.com/free-photo/snowy-mountain-peak-starry-galaxy-majesty-generative-ai_188544-9650.jpg"
        alt=""
        class="rounded-sm h-24"
      />
      <p><span>Episode 4: </span> Lorem, ipsum dolor.</p>
    </div>
  </div>
</div>