@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover, a.active {
  color: #ff0000;
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img {
  object-fit: cover ;
}